@model BadApi.Models.ViewModel

@{
    ViewBag.Title = "Get your Tweets";
    var totalUniqueTweets = 11693;
}

<div class="jumbotron">
    <h1>BadApi Application!</h1>
    <p class="lead">You can get all the tweets from 2016-2017 or you can search for a certain tweet based on its content.</p>    
</div>

<div class="row">
    <div class="col-md-2">
        <h4>Search Options</h4>
        <label for="all">Search All 2016-2017</label>
        <button id="all">Search All</button>

        <label for="tweetId">Search By Id</label>
        <input type="text" id="tweetId" placeholder="Enter Id" />

        <label for="startDate">Enter Start Date</label>
        <input type="text" id="startDate" placeholder="Start Date" />

        <label for="endDate">Enter End Date</label>
        <input type="text" id="endDate" placeholder="End Date" />
    </div>
    <div class="col-md-10">        
        @if (Model.Tweets != null && Model.Tweets.Count() != totalUniqueTweets)
        {
            <h3>Here are the Tweets you requested.</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Time Stamp</th>
                        <th>Tweet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tweet in Model.Tweets)
                    {
                        <tr>
                            <td>@tweet.Id</td>
                            <td>@tweet.Stamp</td>
                            <td>@tweet.Text</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (Model.Tweets.Count() == totalUniqueTweets)
        {
            <p>We counted a total of <span>@Model.Tweets.Count()</span> Tweets from 2016-2017.</p>
        }

    </div>
</div>
